In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [7]:
df.tail()

,_time,occupancy,_value_1,_field_1,placement_3,unit_1,_value_2,_field_2,unit_2,unit_3,temperature_3,placement_4,unit_4,temperature_4
103194,2025-03-31 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,door,°C,22.87
103195,2025-03-31 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,window,°C,14.93
103196,2025-03-31 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,window,°C,17.87
103197,2025-03-31 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,23.20,door,°C,22.87
103198,2025-03-31 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,23.20,window,°C,14.93

In [4]:
def make_prediction(df):
    df['_time'] = pd.to_datetime(df['_time'])
    latest_time = df['_time'].max()
    one_week_ago = latest_time - pd.Timedelta(days=7)
    last_week_df = df[df['_time'] > one_week_ago].copy()
    last_week_df['_time'] += pd.Timedelta(days=7)
    return last_week_df

In [5]:
new = make_prediction(df)

In [8]:
new.tail()

,_time,occupancy,_value_1,_field_1,placement_3,unit_1,_value_2,_field_2,unit_2,unit_3,temperature_3,placement_4,unit_4,temperature_4
103194,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,door,°C,22.87
103195,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,window,°C,14.93
103196,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,window,°C,17.87
103197,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,23.20,door,°C,22.87
103198,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,23.20,window,°C,14.93