In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("test7days.csv")

In [6]:
df.head()

,Unnamed: 0,_time,occupancy,temperature,humidity,co2
0,4611,2025-05-12 07:20:00+00:00,1,25.06,30.40,730.0
1,4612,2025-05-12 07:20:00+00:00,1,25.06,29.90,730.0
2,4613,2025-05-12 07:20:00+00:00,1,25.06,28.59,730.0
3,4614,2025-05-12 07:20:00+00:00,1,25.30,30.40,730.0
4,4615,2025-05-12 07:20:00+00:00,1,25.30,29.90,730.0

In [7]:
df.tail()

,Unnamed: 0,_time,occupancy,temperature,humidity,co2
3441,27247,2025-05-15 09:10:00+00:00,0,21.43,25.40,623.5
3442,27248,2025-05-15 09:10:00+00:00,0,21.43,23.59,623.5
3443,27249,2025-05-15 09:10:00+00:00,0,22.06,25.90,623.5
3444,27250,2025-05-15 09:10:00+00:00,0,22.06,25.40,623.5
3445,27251,2025-05-15 09:10:00+00:00,0,22.06,23.59,623.5

In [4]:
def make_prediction(df):
    df['_time'] = pd.to_datetime(df['_time'])
    latest_time = df['_time'].max()
    one_week_ago = latest_time - pd.Timedelta(days=7)
    last_week_df = df[df['_time'] > one_week_ago].copy()
    last_week_df['_time'] += pd.Timedelta(days=7)
    return last_week_df

In [5]:
new = make_prediction(df)

In [8]:
new.tail()

,_time,occupancy,_value_1,_field_1,placement_3,unit_1,_value_2,_field_2,unit_2,unit_3,temperature_3,placement_4,unit_4,temperature_4
103194,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,door,°C,22.87
103195,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,window,°C,14.93
103196,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,22.81,window,°C,17.87
103197,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,23.20,door,°C,22.87
103198,2025-04-07 09:05:00+00:00,0,17.87,temperature,window,°C,23.2,temperature,°C,°C,23.20,window,°C,14.93